<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Percorso formativo</h2>
                    <h3 class="section-subheading text-muted">Il mio percorso accademico e professionale</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021-2025</h4>
                                    <h4 class="subheading">Laurea triennale</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ho conseguito la laurea triennale in Ingegneria dell'Automazione presso il Politecnico di Milano. Ho avuto modo così di intraprendere la carriera come ingegnere industriale e di processo.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2025-2028</h4>
                                    <h4 class="subheading">Laurea magistrale</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sono regolarmente iscritto come studente part time al corso di laurea magistrale in Automation and Control Engineering presso il Politecnico di Milano.
                                        Durante il mio percorso magistrale, sto approfondendo le mie conoscenze in ambito di controllo avanzato ed efficientamento energetico, machine learning e gestione di impianti industriali, con l'obiettivo di applicare queste competenze nel settore industriale.
                                        Il percorso è previsto per il completamento entro la fine del 2028 ed è interamente svolto in lingua inglese.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dicembre 2028</h4>
                                    <h4 class="subheading">In progress</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <!--<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>